/* IMPORTANDO FONTES, NÃO MEXER */

@font-face {
    font-family: 'Museo 500';
    src: url('../fonts/Museo500-Regular.woff2') format('woff2'),
        url('../fonts/Museo500-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 300';
    src: url('../fonts/Museo300-Regular.woff2') format('woff2'),
        url('../fonts/Museo300-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin:0;
}

body{
    display: none;
}

html { 
    background: url('../img/brasilia.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.index-row-container{
    position: absolute;     
   
}

.index-title{
    color:rgb(21, 212, 4);
    font-family: 'Museo 500';
    font-size: 40px;
    text-align: center;    
    margin-bottom: 100px;
    margin-top: 150px;
    margin-top: 20px;
    padding:5px;    
    border-radius:10px;
    text-shadow: 2px 2px rgb(0, 0, 0); 

}

.index-title-a{
    color:rgb(231, 243, 67);
    font-family: 'Museo 500';
    font-size: 65px;
    text-align: center;
    margin-bottom: 30px;    
    padding:5px;
    border-radius:10px;
    text-shadow: 2px 2px rgb(0, 0, 0); 
}


.index-description-p{
    color:rgb(15, 161, 59);
    font-family: 'Museo 300';
    font-size: 25px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;    
    margin-left: 30px;
    text-shadow: 1px 1px rgb(0, 0, 0); 
}

#index-description-b{
    color:rgb(231, 215, 73);
    font-family: 'Museo 300';
    font-size: 25px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;      
    text-shadow: 2px 2px rgb(0, 0, 0); 
}

.btn-next{
    border-radius: 100px;
    width: 100px;
    height: 100px;
    float: right;
    background-color: #1E824C !important;
}

.bar-superior{
    box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.05);
    border-bottom: 1px solid #1E824C;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    padding: 0;
}

.nav-link {
    color: #1E824C;
}

li.nav-item {
    display: inline-block;
}

.candidatos-box {
    border:1px solid #000;
    margin-bottom: 20px;
    max-height: 165px;
    padding-left: 0;
    border-radius:6px;
    max-width: 525px;
    margin-right: 44px;
    display: flex;
}

.candidatos-foto{
    width: 165px;
    height: 100%;
    max-height: 165px;
    max-width: 165px;
    padding-left: 0;
    display: inline-block;
}

.candidatos-info{
    display: inline-block;
    padding: 10px;
}