<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EmQuemVotar</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/50f7e48974.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body style="background-color: #F5D76E;">
    <div class="index-container">
        <div class="container">
          <h1 class="index-title">
            Em quem votar?
          </h1>
          <p class="index-description">
            O Brasil está passando por uma época conturbada. Nunca antes em sua história houve tanto aumento de impostos, notícias 
            de corrupção e descaso com o povo brasileiro.
            2018 é ano de eleição e também é hora de mudança. Temos que usar nosso voto da forma mais consciente possível.
            Mas, em meio à tantas opções... Em quem votar? <br />
            Nós, iremos lhe ajudar nessa missão de utilizar o seu voto da melhor maneira possível.
          </p>
          <p class="index-description" style="text-align: center">
             <b>Lembre-se: O seu voto faz toda a diferença.</b> 
          </p>             

          <button class="btn btn-success btn-next" type"submit"><i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i></button>
        </div>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</html>