<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EmQuemVotar</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/50f7e48974.js"></script>
  <link rel="stylesheet" href="css/styles.css">
  <script src="../js/script.js"> </script>
</head>
<body onload="javascript:carregamentoSuave();">
    <div class="index-container">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <h1 class="index-title">
              Candidatos
            </h1>
          </div>
        </div>
        <div class="presidente-container">
          <div class="row">
            <% for(let i=0; i < result.length; i++) { %>
           <div class="col-md-6 col-sm-6 col-xs-6 candidatos-box">
                <img src="../img/<%= result[i].nome_imagem %>" class="candidatos-foto" />
             <div class="candidatos-info">
                <span class="candidatos-nome"><b><%= result[i].nome%> (<%= result[i].partido%>)</b> <br /></span>
                <span class="candidatos-descricao"><%= result[i].descricao%></span>
              </div>
          </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</html>